<div class="container-fluid main rounded border border-2 mt-4 me-auto ms-auto bg-white">
  <div class="itxt fst-normal fw-bold mt-4 text-center">Business Search</div>
  <form class="ms-4 me-4 bg-white" id="sea" [formGroup]="userForm" (ngSubmit)="captureFormData()" ngNativeValidate>
    <div class="form-row mt-2">
      <label for="keyword">Keyword <span class="text-danger fw-bold">*</span></label>
      <input class="form-control mt-2" [(ngModel)]="yelpAuto" [matAutocomplete]="auto" id="keyword" name="key" formControlName="keyword" [formControl]="keywordCtrl" required />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let res of yelpAutoResult" [value]="res">
            <span>{{res}}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>
    <div class="row mt-2">
      <div class="col col-md-6">
        <label for="dst">Distance</label>
        <input class="form-control mt-2" type="text" id="dst" name="dst" placeholder="10" />
      </div>
      <div class="col col-md-5">
        <label for="Category">Category<span class="text-danger fw-bold"> *</span></label>
        <select class="form-select mt-2" id="Category" name="Category" formControlName="cat" required>
          <option value="Default" selected>Default</option>
          <option value="Arts & Entertainment">Arts & Entertainment</option>
          <option value="Health & Medical">Health & Medical</option>
          <option value="Hotels & Travel">Hotels & Travel</option>
          <option value="Food">Food</option>
          <option value="Professional Services">Professional Services</option>
        </select>
      </div>
    </div>
    <div class="form-row mt-2">
      <label for="loc">Location<span class="text-danger fw-bold"> *</span></label>
      <input class="form-control mt-2" type="text" id="loc" name="loc" value="" formControlName="location" required />
    </div>
    <div class="form-row form-check mt-2">
      <input class="form-check-input mt-2" type="checkbox" value="" id="chk" formControlName="check" (change)="disable_loc($event)">
      <label class="form-check-label mt-1" for="chk">Auto-detect my location</label>
    </div>
    <div class="form-row mt-3 mb-3 form-group text-center">
      <input type="submit" class="btn btn-danger me-2" value="Submit" />
      <button type="button" class="btn btn-primary ms-3" (click)="formClear()">Clear</button>
    </div>
  </form>
</div>

<div class="container-fluid rounded bg-white mt-5 px-0 text-center nodis sres" id="sres">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Business Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Distance (miles)</th>
      </tr>
    </thead>
    <tbody class="restab">
      <tr *ngFor="let line of tabData" (click)="getBizDetails(line)">
        <td><strong>{{ line.get('row') }}</strong></td>
        <td><img src="{{ line.get('image_url') }}" alt="res-img" class="rimg" /></td>
        <td>{{ line.get('name') }}</td>
        <td>{{ line.get('rating') }}</td>
        <td>{{ line.get('distance') }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid rounded-pill bg-white mt-5 px-0 text-center nodis nres" id="nres">
  <p class="fs-6 fw-bold text-danger">No results available</p>
</div>

<div class="container-fluid rounded bg-white mt-5 px-0 pt-1 cres nodis" id="cres">
  <i class="px-2 text-muted bi bi-arrow-left fa-1x heffect" (click)="switchTab()"></i>
  <h5 ng-model="bname" class="text-center">{{ bname }}</h5>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Business details">
      <table class="table my-3 text-center crestab">
        <tr height="50px">
          <td class="trdim">
            <p class="fw-bold py-0">Address</p>
            <p class="tabtext py-0">{{ baddr }}</p>
          </td>
          <td class="trdim">
            <p class="fw-bold py-0">Category</p>
            <p class="tabtext py-0">{{ bcat }}</p>
          </td>
        </tr>
        <tr height="50px">
          <td class="trdim">
            <p class="fw-bold py-0">Phone</p>
            <p class="tabtext py-0">{{ bphone }}</p>
          </td>
          <td class="trdim">
            <p class="fw-bold py-0">Price range</p>
            <p class="tabtext py-0">{{ bprice }}</p>
          </td>
        </tr>
        <tr height="50px">
          <td class="trdim">
            <p class="fw-bold py-0">Status</p>
            <p class="tabtext py-0" id="statcode">{{ bstat }}</p>
          </td>
          <td class="trdim">
            <p class="fw-bold py-0">Visit yelp for more</p>
            <p class="tabtext py-0"><a href="{{ bmore }}" target="_blank">Business link</a></p>
          </td>
        </tr>
      </table>
      <div class="text-center">
        <button type="button" id="start" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#reserveModal">Reserve Now</button>
        <button type="button" id="end" class="btn btn-primary btn-sm nodis" (click)="cancelReservation(bname)">Cancel Reservation</button>
      </div>
      <p class="tabtext mt-3 text-center">Share on:
        <a href="{{ twlink }}" target="_blank"><i class="fa fa-twitter twitter fa-2x mx-2"></i></a>
        <a href="{{ fblink }}" target="_blank"><i class="fa fa-facebook-square fa-2x fb" aria-hidden="true"></i></a>
      </p>
      <div id="imgcar" class="carousel carousel-dark slide mb-2 text-center" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" id="img1">
            <img class="bimg" src="{{ bimg1 }}" alt="image-1">
          </div>
          <div class="carousel-item" id="img2">
            <img class="bimg" src="{{ bimg2 }}" alt="image-2">
          </div>
          <div class="carousel-item" id="img3">
            <img class="bimg" src="{{ bimg3 }}" alt="image-3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#imgcar" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imgcar" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </mat-tab>

    <mat-tab label="Map location">
      <div class="my-google-map my-2">
        <google-map [options]="mapOptions" [width]="null">
          <map-marker [position]="marker.position"></map-marker>
        </google-map>
      </div>
    </mat-tab>

    <mat-tab label="Reviews">
      <div class="container-fluid rounded bg-white px-0 mx-0">
        <table class="table table-striped my-0">
          <tbody>
            <tr *ngFor="let rev of revData" height="100px">
              <td>
                <p class="fw-bold mb-0">{{ rev.get('revName') }}</p>
                <p>Rating: {{ rev.get('rating') }}/5</p>
                <p>{{ rev.get('review') }}</p>
                <p>{{ rev.get('date') }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="mt-4"><br /></div>

<div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reserveModalLabel">Reservation Form</h5>
      </div>
      <div class="modal-body">
        <h6 class="text-center">{{ bname }}</h6>
        <form id="rbk" [formGroup]="modalForm" (ngSubmit)="reserveNow(bname)">
          <label class="control-label mt-1" for="eml">Email</label>
          <input class="form-control" type="email" id="eml" name="eml" value="" formControlName="eml" [class.is-invalid]="modalForm.get('eml')?.invalid && modalForm.get('eml')?.touched" required />
          <div class="text-danger tabtext py-0 my-0" *ngIf="modalForm.get('eml')?.invalid && modalForm.get('eml')?.touched && !modalForm.get('eml')?.hasError('required')">
            Email must be a valid email address
          </div>
          <div class="text-danger tabtext py-0 my-0" *ngIf="modalForm.get('eml')?.hasError('required') && modalForm.get('eml')?.touched">
            Email is required
          </div>
          <label class="control-label mt-1" for="date">Date</label>
          <input class="form-control" type="date" id="date" name="date" formControlName="date" min="{{ today }}" [class.is-invalid]="modalForm.get('date')?.hasError('required') && modalForm.get('date')?.touched" required />
          <div class="text-danger tabtext py-0 my-0" *ngIf="modalForm.get('date')?.hasError('required') && modalForm.get('date')?.touched">
            Date is required
          </div>
          <div>
            <label class="control-label mt-1" for="time">Time</label>
            <div class="row">
              <select class="col form-select twid ms-3 me-1" id="time" name="time" formControlName="time" [class.is-invalid]="modalForm.get('time')?.hasError('required') && modalForm.get('time')?.touched" required>
                <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
              </select> :
              <select class="col form-select twid mx-1" id="min" name="min" formControlName="min" [class.is-invalid]="modalForm.get('min')?.hasError('required') && modalForm.get('min')?.touched" required>
                <option *ngFor="let minute of mins" [value]="minute">{{minute}}</option>
              </select>
              <i class="col bi bi-clock text-muted mt-2"></i>
            </div>
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-danger mt-2" value="Submit" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="cls">Close</button>
      </div>
    </div>
  </div>
</div>
